* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-contain {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ten-contain {
    display: flex;
}

.dash-contain {
    max-height: 100%;
    display: flex;
    /* background: url('https://images.pexels.com/photos/1918291/pexels-photo-1918291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
   background-repeat: no-repeat;
   background-size: cover;
    margin: 0;
    width: 100%;
    height: 100%;
}

.tenant-dash-contain {
    max-height: 100%;
    /* display: flex; */
    /* background: linear-gradient(rgb(21, 27, 27),rgba(66, 97, 79, 0.466)); */
    margin: 0;
    width: 100%;
    /* padding-left: 20%; */
}

@media screen and (max-width: 1025px) {
    .tenant-dash-contain {
        display: flex;
        flex-direction: column;
    }
}



@media screen and (max-width: 1025px) {
    .dash-contain {
        padding-left: 20%;
    }
}

@media screen and (min-width: 1025px) {
    .tenant-dash-contain {
        /* padding-left: 7%; */
    }
}


.dash {
    /* background: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=abstract-art-artistic-background-1103970.jpg&fm=jpg'); */
    background-size: cover;
    width: 100%; 
    display: flex;
    justify-content: space-between;


}




@media screen and (max-width: 1025px) {
    .dash {
        
        flex-direction: column;
    }
}

.tenant-top-bar-container {
    position: absolute;
    bottom: 0;
}



.top-bar-container {
    width: 100%
}

.top-bar {
    width: 100%;
    /* background-color: rgba(9, 46, 140, 0.856); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding-left: 1rem; */
    margin-top: 20px;


}

.top-bar h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    color: gray;
}

.tenant-top-bar {
    width: 100%;
    background-color: rgba(9, 46, 140, 0.856);
    display: flex;
    justify-content: space-evenly;
    
    /* margin-left: 100px; */

}





.message-logo {
    padding-right: 10px;
    border-right: 1px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.message {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;


}

.landlord-user-only {
    display: flex;
}

.landlord-info {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 12px;
    border-left: 1px solid darkgray;

}

.landlord-info p {
    width: 100%;
}


.message input {
    height: 10vh;
    width: 100%;
    padding: 0;
    color: white;
    font-size: 110%;
    background-color: rgba(57, 94, 187, 0.856);
    border: 0;
    

}

@media screen and (max-width: 1025px) {
    .message input {
        padding-right: 10px;
        width: 80%
    }
}


 input:focus {
    outline: none;

}

.paperplane {
    cursor: pointer;
}




.landlord-info img{
    width: 75px;
    height: 60px;
    object-fit: contain;


}

@media screen and (max-width: 1025px) {
    .landlord-info {
        display: none;
    }
}


.user-info-contain {
    display: flex;
    width: 40%;
    justify-content: space-between;

}

.tenant-user-info-contain {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: space-between;
}


@media screen and (max-width: 1025px) {
    .tenant-user-info-contain {
        flex-direction: column;
    }
}



.user-info {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 1025px) {
    .user-info {
        width: 100%;
        margin: 0;
    }
}


.user p {
    color: white;
    text-align: center;
}

.notifications {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.notifications li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;

}


.user {
    height: 300px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 1025px) {
    .user {
        display: none;
    }
}


.profile-img {
    width: 250px;
    height: 290px;
    position: absolute;
    top: 150px;
    z-index: 99;
    border-radius: 100px;

}

.profile-box {
    height: 250px;
    width: 30.4%;
    background-color: black;
    opacity: 0.5;
    color: white;
    position: absolute;
    top: 380px;
    border-radius: 10px;
}


.address {
    background-color: black;
    width: 100%;
}

.profile-box p {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 100px;
}

.amneties {
    width: 40vh;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 3;

}

@media screen and (max-width: 1025px) {
    .amneties {
        width: 100%;
        
    }
}



.issues-list-contain {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    opacity: .8;
    height: 100%;
    max-height: 80vh;
    overflow-y: scroll;
    animation-name: opendown;
    animation-duration: .8s;
    border-bottom-right-radius: 10px;
    text-align: center;
    width: 100%;

}

@keyframes opendown {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0%);
    }
}
.issues-list-contain .issue-li{
    opacity: 1;

}

.issues-list-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    opacity: 0.85;
    color: white;
    height: 100%;

}

.issues-list-container h3 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    opacity: 0.85;
    color: white;

}





.issue-li {
    background-color: black;
    height: 150%;
    color: white;
    height: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 125%;
    line-height: 35px;
    letter-spacing: 2px;
    display: flex;




}

.issue-count {
    width: 100%;
    margin: 0;
    
}

.issues-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(73, 95, 93); */
    

}

.issue-li button {
    align-self: flex-end;
    width: 100px;
    height: 20px;
    font-size: 70%;  
    cursor: pointer;  

}

.issue-li button:hover {
    color: yellow;
    background-color: darkblue;

}


.issues {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}




.issue-list {
    background-color: black;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    
}



.issue-list p{
    padding-top: 15px;
    width: 450px;
    height: 300px;
    text-align: left;
    letter-spacing: 1.5px;
    line-height: 20px;
    word-wrap:break-word;
    
}

@media screen and (max-width: 1025px) {
    .issue-list p {
        width: 100%;
    }

}


.amneties li {
    color: white;
    /* width: 500px; */
    list-style: none;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width: 1025px) {
    .amneties li{
        width: 100%;
    }
}


.card-container {
    height: 100%;
    width: 100%;
    perspective: 1000px;

}

@media screen and (max-width: 1025px) {
    .card-container {
        height: 100%;
       /* height: 130v; */
       border: 1px solid white;
    }
}



.iss {
    width: 100%;
    height: 100%;
    color: white;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    align-self: center;

}

.card-container:hover .iss {
    transform: rotateY(180deg);
    
}

@media screen and (max-width: 1025px) {
    .card-container:hover .iss {
        transform: rotateY(0deg);
    }
}



.plumbing, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;

  }

  @media screen and (max-width: 1025px) {
    ..plumbing .card-back {
        position: relative;
        backface-visibility: visible;
    }
}


  @media screen and (max-width: 1025px) {
    .plumbing .card-back {
        backface-visibility: visible;
    }
}



.amneties-contain {
    border-top: groove white 1px;

}


.situation {
    display: flex;
    width: 100%;
}

.hi {
    opacity: 1;

}



.map-contain {
    height: 100%;


}

.map-contain .body {
    width:100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 1rem;
    text-align: left;
    
}

@media screen and (max-width: 1025px) {
    .map-contain .body {
        padding: 0;
    }
}



.issues-list-contain .amneties-contain .map-contain {
    opacity: 1;
}


.issues-list-contain .bye {
    opacity: .1;
}

.iss.first {
    border-top: rgb(73, 95, 93) solid 1px;
    

}

.iss.first p{
    width: 400px;

    
}

@media screen and (max-width: 1025px) {
    .iss.first p {
        width: 100%;
    }
}


.iss.second {
    border-top: rgb(73, 95, 93) solid 1px;
    height: 100%;

}

.iss.second p{
    /* width: 400px; */

}

@media screen and (max-width: 1025px) {
    .iss.second p {
        width: 100%;
    }
}


@media screen and (max-width: 1025px) {
    .iss .iss.second p {
        width: 100%;
    }
}



.plumbing {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;


}

.card-back {
    background-color: rgb(73, 95, 93);
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    
}

@media screen and (max-width: 1025px) {
    .card-back {
        transform: none;
    }
}


.card-back form {
    display: flex;
    flex-direction: column;
}

.card-back form button {
    height: 20px;
    align-self: center;
}

.card-back p {
    padding-top: 5px;
}

.card-back form textarea {
    margin-top: 5px;
    font-size: 120%;
    height: 90px;
    /* width: 450px; */
    align-self: center;
}

@media screen and (max-width: 1025px) {
    .card-back form textarea {
        width: 100%;
    }
}


.issues-profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}


.landlord-notifications {
    width: 100%;
    height: 100%;
    /* padding-top: 100px; */
    animation-name: grow;
    animation-duration: 1s;
    


}

/* .tenant-notifications {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    animation-name: grow;
    animation-duration: 1s;
    


} */


.ten-issues {
    color: white;

}

.ten-issues h3 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ten-issues p{
    width: 100%;
    font-size: 95%;
}

.ten-issues button {
   margin-top: 30px;
   color: white;

}


.show-hide-button {
    width: 30%;
    height: 20px;
    border-radius: 5px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.tenant-issues {
    color: white;

}

.shows {
    height: 100%;
    animation-name: grow;
    animation-duration: 1s;
    
}

@keyframes grow {
    from {
        transform: translateY(150%);
    }
    to {
        translate: translateY(100%);
    }
}


@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.hide {
    display: none;


}


.iss-contain {
    background-color: black;
    opacity: .95;
}

.situation p {
    border-bottom: 1px solid white;
    opacity: 1;
}


.tenant-issues h3 {
    margin-top: 10px;
    letter-spacing: 2px;
    
}

.tenant-issues-expand {
    /* font-size: 120%; */
    font-weight: bold;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    background: black;
    width: 100%;
    color: white;
    border-radius: 15px;
    animation-name: grow;
    animation-duration: 1s;
    overflow-y: scroll;
    height: 400px;
    border: white 2px solid;


}

.tenant-issues-expand h3 {
    border-bottom: solid 1px black;
}

span {
    color: red;
    font-size: 90%;
    padding-right: 5px;
}

.issue-buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    border-bottom: solid silver 1px;
    align-self: center;
    /* width: 80%; */
    margin: 0 auto;
}

.issue-buttons button {
    border-radius: 5px;
    color: black;
    font-size: 60%;
    /* width: 80px; */
    height: 20px;
    border: none;
}

.landlord-user {
    width: 240px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.yellow {
    background-color: yellow;
}

.dimYellow {
    background-color: rgba(255,255,0, 0.1);
}

.button-box {
    width: 100%;
    display: flex;
    text-align: left;
}

#dropdown-item-button{
    background-color: blue;
    color: white;
    border: 1px solid gray;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 3px;
}

#dropdown-item-button:hover{
    background-color: white;
    color: blue;
    border: 1px dashed gray;
    cursor: pointer;
    transition-duration: .5s;
}

.tenant-message-button {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    box-shadow: 0 8px 6px -6px black;
    
}

@media screen and (max-width: 1025px) {
    .tenant-message-button {
        width: 100%;
    }
}

.message-overlay {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: .5;
    position: absolute;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
}

.message-image-contain {
    width: 20%;
    z-index: 99;
}

.tenant-message-button button {
    height: 20px;
    z-index: 99;

}

.tenant-message-button img {
    height: 50%;
    width: 50%;
    z-index: 99;
    border-radius: 40px;

}

.tenant-message-button p {
    font-size: 1rem;
    z-index: 99;

}

.bar-message {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

@media screen and (max-width: 1025px) {
    .bar-message {
        width: 100%;
        margin-left: 0;
    }

    .bar-message h2 {
        padding-left: 10px;
    }
}

.none {
    display: none;
}

.close-button {
    font-size: 120%;
    height: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.close-button:hover{
    background-color: black;
    color: white;
}

.messaging {
    display: flex;
    flex-direction: column-reverse;
    width: 100%
}

@media screen and (max-width: 1025px) {
    .messaging {
        width: 100%;
    }
}


.messaging:first-child {
    padding-top: 10px;
}

.message-box {
    background-color: white;
    height: 70vh;
    width: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    

}

.message-box p {
    padding: 10px;
    border-radius: 10px;
    word-wrap:break-word;
    animation-name: appear;
    animation-duration: 1s;
    margin-bottom: 20px;

}

@keyframes appear {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.tenant-message-box {
    display: flex;
    margin: 0 auto;
    background-color: rgb(176, 191, 191);
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    display: inline-block;
}

.tenant-messaging {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 100px;
}

@media screen and (max-width: 1025px) {
    .tenant-messaging {
        height: max-content;
       
    }
}


.tenant-messaging p {
    border-radius: 10px;
    word-wrap:break-word;
    animation-name: appear;
    animation-duration: 1s;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;


}

@media screen and (max-width: 1025px) {
    .tenant-messaging p {
        width: 100%;
    }
}


.landlord-profile-box p {
    width: 100%;
}


.paper li {
    list-style: none;
}

.paper-click li {
    list-style: none;
}

.paper-click li {
    animation-name: pushIt;
    animation-duration: 1s;
    list-style: none;
    text-decoration: none;
    cursor: pointer;

}

.paper-click li:hover {
    -ms-transform: rotate(50deg); /* IE 9 */
    transform: rotate(50deg);
    transition-duration: .5s;
    list-style: none;
}


.paper li:hover {
    -ms-transform: rotate(50deg); /* IE 9 */
    transform: rotate(50deg);
    transition-duration: .5s;
    list-style: none;
}


.paper {
    color: white;
    cursor: pointer;
    animation-name: pushIt;
    animation-duration: 1s;

}

@keyframes pushIt {
    from {
        transform: translateX(0);
        -ms-transform: rotate(50deg); /* IE 9 */
        transform: rotate(50deg);
        transition-duration: .5s;
    
    }
    to {
        transform: translateX(500px);
        
    }
}

@media screen and (max-width: 1025px) {
    .tag {
        display: none;
    }
}







